<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medpal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1_round"
        android:label="@string/applicationName"
        android:roundIcon="@mipmap/logo1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogIn"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Register"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".HomePage"
            android:parentActivityName=".MainActivity"></activity>

        <activity
            android:name=".MyPrescriptions"
            android:parentActivityName=".HomePage" />

        <activity
            android:name=".MedicineDetails"
            android:parentActivityName=".MyPrescriptions" />

        <activity
            android:name=".MedicalRecord"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".MedicalRecordEdit"
            android:parentActivityName=".MedicalRecord" />

        <activity
            android:name=".ImportantContacts"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".ImportantContactsEdit"
            android:parentActivityName=".ImportantContacts" />
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>
